/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(159.84deg 100% 74.9%) ;
}

.navbar {
    height: 10vh;
    background-color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}

.col {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: white;
    height: 5vh;
  }
  



